<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xm.commoncomponent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.TextViewAct" />
        <activity android:name=".ui.EditTextAct" />
        <activity android:name=".ui.ButtonAct" />
        <activity android:name=".ui.ImageViewAct" />
        <activity android:name=".ui.SeekBarAct" />
        <activity android:name=".ui.ScrollViewAct" />
        <activity android:name=".ui.ViewPagerAct" />
        <activity android:name=".ui.NotificationAct" />
        <activity android:name=".ui.AlertDialogAct" />
        <activity android:name=".ui.DrawerLayoutAct" />
        <activity android:name=".ui.RadioButtonAct" />
        <activity android:name=".ui.ToggleButtonAct" />
        <activity android:name=".ui.ProgressBarAct" />
        <activity android:name=".ui.ListViewAct" />
        <activity android:name=".ui.GridViewAct" />
        <activity android:name=".ui.SpinnerAct" />
        <activity android:name=".ui.AutoCompleteTextViewAct" />
        <activity android:name=".ui.ViewFlipperAct" />
        <activity android:name=".ui.ToastAct" />
        <activity android:name=".ui.PopupWindowAct" />
        <activity android:name=".ui.MenuAct"></activity>
    </application>

</manifest>